.reveal {
	font-family: "Whitney", sans-serif !important;
	font-weight: 400 !important;
}
h1,h2,h3,h4,h5,h6 {
	margin-bottom: 0.75em !important;
	font-family: "Whitney", sans-serif !important;
	font-weight: 700 !important;
}
hr {
	border-color: rgba(255,255,255,0.25);
}

li {
	margin-bottom: 1em !important;
}
li ol li,
li ul li {
	margin-bottom: 0 !important;
}

p {
	margin-bottom: 1em !important;
}

blockquote {
	background: transparent !important;
}

.align-left {
	text-align: left;
}

.attribution {
	position: absolute;
	font-size: 14px !important;
	color: #fff;
	padding: 6px !important;
	top: 800%;
	background: rgba(0,0,0,0.4);
	text-align: center;
	font-family: "consolas", monospace !important;
}

.figureset, .figureset-right {
	*zoom: 1;
}
.figureset:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ".";
	clear: both;
	height: 0;
}
.figureset-figure, .figureset-description {
	display: table-cell;
	vertical-align: top;
}
.figureset-figure {
	width: 1%; /* ensure "shrink wrap" effect */
	line-height: 0;
}
.figureset-description {
	width: auto;
	padding-left: 1em !important;
	text-align: left !important;

}
.figureset-description:after {
	display: block;
	visibility: hidden;
	overflow: hidden;
	height: 0 !important;
	line-height: 0;
	font-size: 50px;
	content: "M M M M M M M M M M M M M M M M M M M M ";
	speak: none; /* STFU, screen readers. Don't read this. */
}


.sq {
	color: rgba(255,255,255,0.9) !important;
}
.sq h1,
.sq h2,
.sq h3,
.sq h4,
.sq h5,
.sq h6 {
	color: #fff !important;
}
.sq ::selection {
	background-color: #000;
}

.reveal .sassy--color {
  color: #d33682;
}
.reveal .sassy--background {
  background: #d33682;
}

/* reveal themes are too fucking specific */
.reveal .document-figure {
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 6px;
	padding: 12px !important;
	padding-bottom: 0px !important;
	width: 320px;
	margin: 1em auto !important;
	background: tranparent;
}
.reveal .document-line,
.reveal .document-line--focus {
	background-color: #268bd2;
	font-size: 16px !important;
	text-align: center;
	margin-bottom: 12px !important;
	line-height: 2;
	color: #fff !important;
	font-family: monaco, consolas, monospace !important;
}
.reveal .document-line--focus {
	background-color: #d33682;
}

.meetup-intro {
	height: 100% !important;
}
.meetup-intro p {
	background-color: rgba(0,0,0,0.9);
	color: #fff;
	padding: 10px;
	margin: 0px !important;
}
