hr {
	border-color: rgba(255,255,255,0.25);
}

li {
	margin-bottom: 1em !important;
}
li ol li,
li ul li {
	margin-bottom: 0 !important;
}

.align-left {
	text-align: left;
}

.attribution {
	position: absolute;
	font-size: 14px !important;
	color: #fff;
	padding: 6px !important;
	top: 800%;
	background: rgba(0,0,0,0.4);
	text-align: center;
	font-family: "consolas", monospace !important;
}
